extends ../layouts/main.pug

block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th Ratings
            th Genre
            
        
        tbody
          each arcadeGame in arcadeGames
            tr
              td
                a(href=`/arcadeGames/${arcadeGame.id}`)= arcadeGame.title
              td= arcadeGame.rating
              td= arcadeGame.genre
              td
                a(href=`/arcadeGames/${arcadeGame.id}/edit`) 
                  button.btn.btn-outline-primary(type='button') Edit
                = " | "
                form.destroy(action="/arcadeGames/destroy", method="POST", onsubmit='return confirm("Are you sure???");')
                  input(type="hidden", name="id", value=arcadeGame.id)
                  button.btn.btn-outline-danger(type="submit", value="delete") Delete